# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Distribution / packaging
build/
dist/

# Virtual environments
.venv/
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
